@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap");

$font_stack: "Oxygen", sans-serif;
$main_font: "Kanit", sans-serif;
$primary_color: #290099;
$secondary_color: #a800b4;
$light_color: #fafad2;
$dark_color: #525252;
$primary_bg: #ffc0cb;
$seconday_bg: #d8bfd8;