@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

$main_font:'Kanit', sans-serif;
$font_stack: 'Oxygen', sans-serif;
$primary_color: #290099;
$secondary_color: #a800b4;
$light_color: #FAFAD2;
$dark_color: #525252;
$primary_bg: #FFC0CB;
$seconday_bg: #D8BFD8;