@import "variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(270deg, $primary_color, $secondary_color);
  font-family: $font_stack;
  line-height: 1.7;
  padding: 2rem;
}

::selection {
  background: $secondary_color;
}

// Images Sizing.
img {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid $primary_color;
}

.testimonials {
  &-heading {
    font-family: $main_font;
    color: $light_color;
    text-align: center;
  }

  &_list {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    .testimonial {
      background-color: $seconday_bg;
      box-shadow: 0 1px 10px 2px $dark_color;
      border-radius: 24px;
      padding: 2rem;
      .author_box {
        display: flex;
        padding: 1rem 0;
        gap: 1em;
        .name {
          font-family: $main_font;
        }
        .title {
          font-size: 9px;
          font-weight: 600;
        }
      }
    }

    .author_1 {
      grid-column: 1 / 3;
      background-color: $primary_bg;
    }
    .author_3 {
      grid-row: 2 / 5;
      background-color: $primary_bg;
    }
    .author_6 {
      grid-column: 2 / 4;
      background-color: $primary_bg;
    }
  }
}

// Responsive Design.
@media (max-width: 1048px) {
  .testimonials {
    &-heading {
      font-size: 14px;
    }
    &_list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bobe"
        "jenny"
        "dennis"
        "maira"
        "peter"
        "sarah";
      font-size: 13px;

      .author_1 {
        grid-area: bobe;
      }
      .author_2 {
        grid-area: jenny;
      }
      .author_3 {
        grid-area: dennis;
      }
      .author_4 {
        grid-area: maira;
      }
      .author_5 {
        grid-area: peter;
      }
      .author_6 {
        grid-area: sarah;
      }
    }
  }
}